html {
    position: relative;
    min-height: 100%;
}

* {
    padding: 0;
    margin: 0;
    font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
    color: #484848;
    font-size: 16px;
}

/* styling of the header */
.header-container {
    position: relative;
    display: grid;
    grid-template-columns: 0.1fr 0.3fr 0.4fr 0.05fr 0.05fr 0.05fr 0.05fr;
    grid-template-areas:
        "logo search whitespace home product about contact";
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #dadada;
}

.header-container > * {
    font-weight: bold;
    cursor: pointer;
}

.header-container > div {
    margin-left: 30px;
    font-size: 15px;
    transition: 150ms;
}

.header-container > div:hover {
    color: #e60012;
}

.header-logo {
    grid-area: logo;
    width: 150px;
    height: auto;
}

.home{
    grid-area: home;
}

.product {
    grid-area: product;
}

.about {
    grid-area: about;
}

.contact {
    grid-area: contact;
    margin-right: 10px;
}

.search {
    grid-area: search;
}

.whitespace {
    grid-area: whitespace;
}

.img {
    width:50px;
    height: auto;
    position: absolute;
    right: 15px;
    transition: 200ms;
}

.img:hover {
    transform: rotate(360deg);
}

.search {
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr;
    border-bottom: 1px solid #484848;
    transition: 600ms;
    position: relative;
}

.search:hover{
    border-color:#e60012;
}

.search:hover .search-bar::placeholder {
    color: #e60012;
}

.search:hover .search-icon {
    fill: #e60012;
}

.search-icon {
    width:25px;
    height: auto;
    vertical-align: middle;
    /* margin-right: 10px; */
}

.search-bar {
    outline: none;
    border: none;
}

.pipe {
    z-index: -2;
    width:20px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: -20px;
    transition: 100ms;
}

.search-bar:focus + .pipe{
    bottom: 0;
    z-index: 0;
}

.box {
    z-index: -1;
    position: absolute;
    bottom: -10px;
    left: 0;
    width:100%;
    height: 30px;
    background-color: white;
}

/* styling of the footer */
.footer-container {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 4fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
        "footer-logo whitespace facebook instagram twitter youtube";
    align-items: center;
    padding: 8px;
    background-color: #e60012;
    margin-top: 40px;
    bottom: 0;
}

.footer-logo {
    grid-area: footer-logo;
    width: 300px;
    height: auto;
}

.facebook-logo {
    grid-area: facebook;
}
.instagram-logo {
    grid-area: instagram;
}
.twitter-logo {
    grid-area: twitter;
}
.youtube-logo {
    grid-area: youtube;
}

/* styling of the body */
body {
    text-align: center;
}

/* styling of contact page */
.contact-container{
    margin-top: 40px;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "head"
        "form";
    padding-left: 20%;
    padding-right: 20%;
}

.contact-head{
    grid-area: head;
    text-align: left;
}

.contact-head h1 {
    font-weight: 100;
    font-size: 2em;
    border-bottom: 1px solid #dadada;
}

.contact-head h3 {
    font-weight: 100;
    font-size: 1.25em;
    padding-top: 5px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "name message"
        "email message"
        "subject message"
        "submit submit";
    align-items: center;
    padding-top: 30px;
    gap: 1rem;
    grid-area: form;
}

.form-container > * {
    height: 100%;
    border-radius: 8px;
    border: 0; 
    outline: 0;
    box-shadow: 0 0 2px 1px #484848;
    padding-left: 10px;
}

.name {
    grid-area: name;
}
.email {
    grid-area: email;
}
.subject {
    grid-area: subject;
}
.message {
    grid-area: message;
    resize: none;
    padding-top: 7px;
}

.submit {
    grid-area: submit;
    transition: 100ms;
}

.submit:active {
    background: #e60012;
    color: white;
}

/* styling for the product page */
.product-container {
    display: grid;
    position: relative;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr 0.1fr 0.5fr 0.5fr 0.3fr;
    grid-template-areas:
        "prod-img name"
        "prod-img price"
        "prod-img desc"
        "model specs"
        "whitespace submit";
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 50px;
}

.product-container > * {
    text-align: left;
}

.product-image {
    grid-area: prod-img;
    position: relative;
    margin-left: 10px;
}

.model {
    grid-area: model;
    width: 100%;
    height: 100%;
}

.product-image img {
    height: auto;
    width: 75%;
    top: 0;
}

.product-image a {
    z-index: 1;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.prev {
    left: 0;
}

.product-name {
    grid-area: name;
    font-size: 2em;
    border-bottom: 1px solid #dadada;
}

.price{
    grid-area: price;
}

.product-description{
    grid-area: desc;
}

.specs{
    grid-area: specs;
    border-collapse: collapse;
}

.specs th, .specs td {
    border: 1px solid #dadada;
}

.specs td {
    padding-left: 20px;
}

.empty {
    grid-area: whitespace;
}

.buy-button{
    grid-area: submit;
    position: absolute;
    top: 0;
    width: 100%;
    height: 30%;
    text-align: center;
    background-color: #e60012;
    border: 1px solid #dadada;
    color: white;
    border-radius: 8px;
}


/* styling the home page */
.content-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "wrapper";
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 100px;
    margin-top: 50px;
}

.content-item-wrapper {
    grid-area: wrapper;
    display: grid;
    grid-template-areas:
        "img"
        "content";
}

.content-item-image {
    grid-area: img;
}

.title {
    font-weight: 100;
    font-size: 2em;
    border-bottom: 1px solid #dadada;
}

.content-item-image img {
    max-width:100%;
    max-height:100%;
}

.content-item-text {
    grid-area: content;
}

.content-item-text > * {
    font-size: 1.25em;
}


/* styling the about page */
.about-content-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "text text text"
        "img1 img2 img3";
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 50px;
}

.about-content-item img {
    max-width:100%;
    max-height:100%;
}

.about-content-item-text{
    grid-area: text;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

@media (max-device-width: 1200px) {
    .product-container {
        display: grid;
        position: relative;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 0.25fr 0.1fr 0.25fr 1fr 1fr;
        grid-template-areas:
            "prod-img"
            "model"
            "name"
            "price"
            "desc"
            "specs"
            "submit";
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 50px;
    }

    .about-content-item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "text"
            "img1" 
            "img2"
            "img3";
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 50px;
        margin-bottom: 80px;
    }
}